# env
venv/
.env/

# Python
__pycache__/
*.pyc

# log
*.log
*.out

# output data
*.csv
*.lp
*.wcnf
*.meta

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# wsl
*:Zone.Identifier

# build artifacts
build/
bin/
*.o
*.a
*.so
*.out

# SCIP suite (extracted files)
UWrMaxSat-SCIP-MaxPre/code/scipoptsuite-*/

# Minisat / Maxpre build dirs
UWrMaxSat-SCIP-MaxPre/code/cominisatps/build/
UWrMaxSat-SCIP-MaxPre/code/maxpre/build/
UWrMaxSat-SCIP-MaxPre/code/uwrmaxsat/build/

# uwrmaxsat binary
UWrMaxSat-SCIP-MaxPre/bin/
uwrmaxsat
